In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
df = pd.read_excel('C:\stat\mean.xlsx')

In [14]:
print(df)

      Name    Income
0      Rob      5000
1   Bishal      6000
2    Anina      4000
3  Prajwal      7500
4      Ram      8000
5     Hari      7000
6    Shyam  10000000

In [15]:
df.describe()

             Income
count  7.000000e+00
mean   1.433929e+06
std    3.777283e+06
min    4.000000e+03
25%    5.500000e+03
50%    7.000000e+03
75%    7.750000e+03
max    1.000000e+07

In [19]:
df.Income.quantile(1)

10000000.0

In [21]:
df['Income'][3]=np.NaN

C:\Users\Hp\AppData\Local\Temp\ipykernel_13480\1244639895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Income'][3]=np.NaN

In [22]:
print(df)

      Name      Income
0      Rob      5000.0
1   Bishal      6000.0
2    Anina      4000.0
3  Prajwal         NaN
4      Ram      8000.0
5     Hari      7000.0
6    Shyam  10000000.0